<!-- info section -->
<section class="info_section layout_padding primaryFont">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_logo">
          <h5>
            Fiorello
          </h5>
          <p>
         Fiorello propose des compositions florales fraîches et uniques
          pour toutes les occasions, avec un service rapide et fiable
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links pl-lg-5">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="#">
                maison
              </a>
            </li>
            <li>
              <a href="#about">
                À propos
              </a>
            </li>
            <li>
              <a href="#gallery">
                Galerie
              </a>
            </li>
            <li>
              <a href="#contact">
                Nous contacter
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links">
          <h5>
            Réseaux sociaux
           
          </h5>
          <ul>
            <li>
              <a href="index.html">
                Facebook
              </a>
            </li>
            <li>
              <a href="about.html">
                Instagram
              </a>
            </li>
            <li>
              <a href="gallery.html">
                Twitter
              </a>
            </li>
            <li>
              <a href="contact.html">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_contact">
          <h5>
            Contact
          </h5>
          <div>
            <img src="../../assets/images/location-white.png" alt="">
            <p>
              Il est un fait bien établi qu'un lecteur
            </p>
          </div>
          <div>
            <img src="../../assets/images/telephone-white.png" alt="">
            <p>
              +213 7878785874
            </p>
          </div>
          <div>
            <img src="../../assets/images/envelope-white.png" alt="">
            <p>
              demo@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end info_section -->
<!-- footer section -->
<footer class="container-fluid footer_section BoldItalic">
  <p>
    &copy; <span id="displayYear"></span> Made by love by Yasmine's sibling
  </p>
</footer>
<!-- footer section -->
