.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: 13px;
  width: 13px;
  height: 13px;
  background-color: #e1603a;
  font-size: 9px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 50%;
}

.header_section {
  position: fixed;
  right: 0;
  left: 0;
  background: #fff;
  padding-bottom: 1.5rem;
  z-index: 999;

}